@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700|Playball');
body {
  background-color: #ffffff;
  color: #727682;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.8em;
  transition: all 0.2s ease;
}
h1,
h2,
h3 {
  display: inline-block;
  font-size: 42px;
  font-family: "Playball", "Georgia", serif;
  text-align: center;
  width: 100%;
}
@media (min-width: 550px) {
  h1,
  h2,
  h3 {
    font-size: 48px;
  }
}
h1 {
  margin: 0 auto 24px;
  line-height: 1em;
  text-shadow: 0;
}
@media (min-width: 550px) {
  h1 {
    font-size: 72px;
    margin: 0 auto 36px;
    text-shadow: 0px 4px 2px #f4d9a1;
  }
}
h2 {
  margin-bottom: 0;
  padding: 18px 0;
}
h3 {
  font-size: 24px;
  font-family: "Lato", "Georgia", serif;
  font-weight: normal;
  margin-bottom: 6px;
}
p {
  margin: 0 auto 12px;
  max-width: 600px;
  text-align: center;
}
p a {
  color: #38BDA0;
  border-bottom: 1px solid;
  text-decoration: none;
}
p a:visited {
  color: #38BDA0;
}
img {
  transition: all 0.2s ease;
}
nav {
  background-color: #ffffff;
  font-size: 10.5px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
nav ul {
  margin: 0 auto;
}
@media (min-width: 800px) {
  nav ul {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  nav ul {
    width: 80%;
  }
}
nav li {
  display: inline-block;
  transition: all 0.15s ease;
  margin: 0 1%;
  padding: 0 2%;
}
nav li:hover {
  background-color: #f3ebcc;
}
nav li:hover a {
  transform: translateY(-1px);
}
@media (min-width: 550px) {
  nav li {
    font-size: 15px;
  }
}
@media (min-width: 800px) {
  nav li {
    font-size: 18px;
    margin: 0 1%;
    padding: 0 2%;
  }
}
nav a {
  color: #727682;
  display: inline-block;
  padding: 10px 0 6px;
  text-decoration: none;
  transition: all 0.15s ease;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
section {
  margin-bottom: 24px;
}
strong {
  font-weight: bold;
}
form {
  margin: 0 auto 12px;
  max-width: 550px;
  text-align: center;
}
label {
  display: block;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 24px;
  padding: 0 10%;
  text-align: left;
  transition: all 0.2s ease;
}
@media (min-width: 550px) {
  label {
    font-size: 18px;
  }
}
input,
textarea {
  border: 2px solid #b5e3d8;
  border-radius: 3px;
  color: #727682;
  display: block;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 18px;
  font-weight: 300;
  min-height: 35px;
  margin-top: 6px;
  margin-bottom: 4px;
  padding: 1% 2%;
  transition: all 0.2s ease;
  width: 96%;
}
input:hover,
textarea:hover {
  border-color: #38BDA0;
}
input:focus,
textarea:focus {
  border-color: #38BDA0;
  outline: none;
}
button {
  background-color: #b5e3d8;
  border: none;
  border-radius: 3px;
  color: #727682;
  cursor: pointer;
  font-family: "Lato", "Helvetica", sans-serif;
  font-size: 18px;
  padding: 10px 15px;
  transition: all 0.2s ease;
}
button:hover,
button:focus {
  background-color: #97d8c8;
  outline: none;
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}
::-webkit-input-placeholder {
  color: darkgray;
  font-style: italic;
}
::-moz-placeholder {
  color: darkgray;
  font-style: italic;
}
.nav-main {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.main {
  margin: 0 24px 72px;
  max-width: 850px;
}
@media (min-width: 900px) {
  .main {
    margin: 0 auto 72px;
  }
}
.img--full {
  display: block;
  margin: 0 auto 12px;
  max-width: 850px;
  padding-top: 48px;
  text-align: center;
  width: 100%;
}
@media (min-width: 550px) {
  .img--full {
    margin: 0 auto 24px;
  }
}
.img--half {
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  text-align: center;
  width: auto;
  height: 200px;
}
.img--half_ceremony {
  background-image: url("../img/ceremony.jpg");
}
.img--half_reception {
  background-image: url("../img/reception.jpg");
}
.img--half_hotel_jc {
  background-image: url("../img/jefferson-clinton.jpg");
}
.img--half_hotel_hs {
  background-image: url("../img/hotel-syracuse.jpg");
}
.logo {
  margin: 0 auto;
  width: 60%;
}
@media (min-width: 550px) {
  .logo {
    width: 70%;
  }
}
a:hover .logo {
  opacity: 0.75;
  transform: scale(1.05);
}
.divider--large {
  background-color: #b5e3d8;
  position: relative;
  margin-bottom: 36px;
  width: 100%;
  height: 4px;
}
.divider--small {
  background-color: #f3ebcc;
  position: relative;
  margin-bottom: 18px;
  width: 100%;
  height: 3px;
}
.map {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.emoji {
  display: inline-block;
  font-size: 18px;
  margin: 0 3px;
}
.wave {
  animation: wave 0.4s linear infinite;
  display: inline-block;
}
.radio {
  margin-bottom: 0;
  padding: 0 10%;
  text-align: left;
}
.radio label {
  cursor: pointer;
  display: inline;
  padding: 0;
  vertical-align: middle;
}
.radio input {
  cursor: pointer;
  display: inline;
  margin: 0 10px 0 0;
  vertical-align: middle;
  width: auto;
}
.optional {
  float: right;
  font-size: 13.5px;
  font-weight: 300;
}
@media (min-width: 550px) {
  .optional {
    font-size: 15px;
  }
}
.field-help {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.4em;
  text-align: left;
}
.text-block {
  font-size: 16.5px;
  line-height: 1.4em;
  max-width: 450px;
}
.size1of2 {
  display: inline-block;
  margin-bottom: 12px;
  width: 100%;
}
@media (min-width: 550px) {
  .size1of2 {
    margin-bottom: 0;
    padding: 0 1.8%;
    width: 46%;
  }
}
.display--none {
  display: none;
}
.display--none_medium {
  display: none;
}
@media (min-width: 800px) {
  .display--none_medium {
    display: inherit;
  }
}
.display--inline {
  display: inline;
}
.margin-bottom--lv4 {
  margin-bottom: 24px;
}
.margin-bottom--lv6 {
  margin-bottom: 36px;
}
.margin-bottom--lv10 {
  margin-bottom: 60px;
}
.text-align--center {
  text-align: center;
}
.text-align--left {
  text-align: left;
}
.center {
  margin: 0 auto;
  width: 100%;
}
.padding--lv0 {
  padding: 0;
}
.font-weight--normal {
  font-weight: 400;
}
.font-weight--light {
  font-weight: 300;
}
@keyframes wave {
  0% {
    transform: rotate(-15deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-15deg);
  }
}
